* {
  box-sizing: border-box;
  margin: 100px;
  padding: 0;
  }
.handle {
  border: 15px solid black;
  width: 130px;
  height: 110px;
  left: -65px;
  top: -260px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  position: absolute;
}
.cap {
  width: 110px;
  height: 50px;
  background-color: black;
  border-radius: 20px 20px 3px 3px;
  top: -190px;
  left: -55px;
  position: absolute;
}
.lip {
  width: 110px;
  height: 20px;
  background-color: silver;
  border-radius: 5px;
  top: -140px;
  left: -55px;
  position: absolute;
}
.neck {
  width: 110px;
  height: 30px;
  background-color: black;
  top: -120px;
  left: -55px;
  position: absolute;
}
.bottle {
  width: 200px;
  height: 600px;
  background-color: black;
  border-radius: 65px 65px 10px 10px;
  margin: auto;
  position: relative;
}
