* {
  box-sizing: border-box;
  margin: 0;
  font-family: futura-pt, sans-serif;
}
body {
  margin: 0;
  font-family: futura-pt, sans-serif;
  background-color: #1A1A1D;
}
.body-home {
  background: url(../images/concert6.jpg) no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
header {
  width: 100%;
  height: 100px;
  background-color: #1A1A1D;
  padding: 15px 100px;
  position: fixed;
  top: 0;
  left: 0;
}
.header-home {
  width: 100%;
  height: 100px;
  padding: 15px 100px;
  background-color: transparent;
}
footer {
  background-color: #1A1A1D;
  padding: 15px 100px;
}
.footer-home {
  padding: 15px 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}
.footer-space {
  margin-top: 100px;
}
.nav {
  text-align: right;
  position: relative;
  top: -48px;
}
nav li {
    display: inline;
}
a:link, a:visited {
  color: #EFEFEF;
  text-decoration: none;
}
a:hover {
  color: #C3073F;
}
a:active {
  color: #EFEFEF;
}
a.current-page {
  text-decoration: line-through #C3073F;
}
main {
  display: flow-root;
}
li {
  font-size: 20px;
  color: #EFEFEF;
  margin: 10px;
  list-style-type: none;
}
h1 {
  color: #C3073F;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
h2 {
  font-size: 40px;
  color: #EFEFEF;
  margin: 10px;
  font-weight: normal;
}
h3 {
  color: #C3073F;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}
h4 {
  color: #C2C2C2;
  font-size: 20px;
  font-weight: normal;
  font-style: oblique;
  margin-top: 10px;
}
img {
  max-width: 100%;
}
.about {
  color: #C2C2C2;
  font-size: 18px;
  margin: 0 40px;
}
.col-1 {
  width: 45%;
  float: left;
}
.col-2 {
  width: 55%;
  float: left;
}
.resize {
  width: 20px;
  height: auto;
  margin: 10px;
}
.credit {
  color: #C2C2C2;
  font-size: 12px;
  text-align: right;
  font-style: italic;
}
.background {
  width: 70%;
  padding: 33px;
  background-color: #1A1A1D;
  margin: 0 auto;
  margin-bottom: 75px;
  display: flow-root;
}
.col-album {
  width: 50%;
  float: left;
  text-align: center;
}
.col-tracks-1 {
  width: 25%;
  float: left;
  margin-top: 150px;
  padding: 0;
}
.col-tracks-2 {
  width: 25%;
  float: left;
  margin-top: 150px;
  padding: 0;
}
.album-img {
  background: url(../images/concert8.jpg) no-repeat top center;
  background-size: 105%;
}
.album-cover {
  width: 390px;
}
.tracks {
  color: #C2C2C2;
  font-size: 17px;
  list-style-type: decimal;
}
.background-tour {
  width: 70%;
  background-color: #1A1A1D;
  margin: 0 auto;
  padding: 40px;
}
.tour-img {
  background: url(../images/concert7.jpg) no-repeat center center;
  background-size: 100%;
}
.tour-info {
  text-align: center;
}
ul {
  padding: 0;
}
.date {
  font-size: 17px;
  font-weight: bold;
  color: #C3073F;
  text-align: center;
  margin-bottom: -5px;
}
.venue {
  font-size: 17px;
  color: #C2C2C2;
  text-align: center;
  margin-bottom: -5px;
}
.location {
  font-size: 17px;
  font-style: italic;
  color: #C2C2C2;
  text-align: center;
  margin-bottom: 40px;
}
.location-end {
  font-size: 17px;
  font-style: italic;
  color: #C2C2C2;
  text-align: center;
}
/* responsive design */
/* @media screen and (max-width: 700px) {
  .resize {
    margin: 5px;
  }
  .icons {
    text-align: center;
  }
  .credit {
    margin-top: 10px;
    text-align: center;
  }
} */
