* {
  box-sizing: border-box;
  margin: 0;
  font-family: futura-pt, sans-serif;
}
body {
  margin: 0;
  font-family: futura-pt, sans-serif;
}
header, footer {
  background-color: black;
  color: white;
  padding: 25px 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: right;
}
h2, nav {
  color: #EFEFEF;
  display: inline;
  margin: 10px;
}
h1 {
  color: #C3073F;
  font-style: bold;
}
h3 {
  color: #C3073F;
  font-style: bold;
}
h4 {
  color: #EFEFEF;
  font-size: oblique
}
img {
  max-width: 100%;
}
.tracks .tour {
  color: #EFEFEF;
}
.resize {
  width: 20px;
  height: auto;
  margin: 10px;
}
.credit {
  color: #C2C2C2;
  font-size: 12px;
  text-align: right;
  font-style: italic;
}

/* responsive design */
@media screen and (max-width: 700px) {
  .resize {
    margin: 5px;
  }
  .icons {
    text-align: center;
  }
  .credit {
    margin-top: 10px;
    text-align: center;
  }
}
