* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
  margin: 30px;
  font-family: 'Spartan', sans-serif;
  background-color: #A5C5C3;
}
h1 {
  width: 75vw;
  margin: 25px auto;
  color: #007872;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col {
  width: 50%;
  float: left;
}
