* {
  box-sizing: border-box;
  margin: 20px auto;
}
body {
  width: 500px;
  background-color: #E8DCCA;
}
header {
  writing-mode: vertical-lr;
}
.header {
  float: right;
}
.body {
  float: left;
}
hr {
  height: 0;
  border: none;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 43px;
  text-align: center;
  color: #654321;
}
h2 {
  font-family: 'Lora', serif;
  font-size: 18px;
  text-align: center;
  margin-right: 5px;
  color: #654321;
}
h3 {
  font-family: 'Lora', serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  color: #654321;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin: 10px auto;
  width: 380px;
  color: #1A1A1D;
}

/* responsive design */
@media screen and (max-width: 700px) {
  header {
    width: 400px;
    writing-mode: horizontal-tb;
    margin-bottom: -50px;
  }
  body, p {
    width: 400px;
  }
  hr {
    margin-bottom: 40px;
    height: 3px;
    background-color: #654321;
    border: none;
  }
  h1 {
    float: none;
  }
  h3 {
    margin-bottom: 40px;
  }
}
