body {
  margin: 0;
  overflow-x: hidden;
}
main {
  width: 120vw;
  margin: -10vw;
}
.pattern-5 {
  width: 120vw;
  margin: 0vw;
}
  /* pattern 1 */
.pattern-1 .shape1 {
  width: 100px;
  height: 100px;
  background-color: #D1FAFF;
  float: left;
  border-radius: 50%
}
.pattern-1 .shape2 {
  width: 100px;
  height: 100px;
  background-color: #9BD1E5;
  float: left;
}
.pattern-1 .shape3 {
  float: left;
  border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #6A8EAE;
}
  /* pattern 2 */
.pattern-2 .shape1 {
  background-color: #E38690;
  float: left;
  width: 150px;
  height: 100px;
  transform: skew(20deg);
}
.pattern-2 .shape2 {
  background-color: #E38690;
  float: left;
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  opacity: .75
}
.pattern-2 .shape3 {
  background-color: #E38690;
  float: left;
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  opacity: .5
}
  /* pattern 3 */
.pattern-3 .shape1 {
  width: 10px;
  height: 10px;
  background-color: #F67280;
  float: left;
  border-radius: 50%;
  margin: 30px
}
.pattern-3 .shape2 {
  width: 10px;
  height: 10px;
  background-color: #C06C84;
  float: left;
  border-radius: 50%;
  margin: 30px
}
.pattern-3 .shape3 {
  width: 10px;
  height: 10px;
  background-color: #6C5B7B;
  float: left;
  border-radius: 50%;
  margin: 30px
}
  /* pattern 4 */
.pattern-4 .shape1 {
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #EDCFB9;
	border-bottom: 25px solid transparent;
  float: left;
  margin: -10px;
}
.pattern-4 .shape2 {
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #C65F58;
	border-bottom: 25px solid transparent;
  float: left;
  margin: -10px;
}
  /* pattern 5 */
.pattern-5 .shape1 {
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  margin: -30px;
  background-color: #FEADB9;
  opacity: .75
}
.pattern-5 .shape2 {
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  margin: -30px;
  background-color: #BC85A3;
  opacity: .75
}
.pattern-5 .shape3 {
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  margin: -30px;
  background-color: #9799BA;
  opacity: .75
}
.pattern-5 .shape4 {
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  margin: -30px;
  background-color: #487AA5;
  opacity: .75
}
